---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div>
		<h1 class="text-onyx-200 text-3xl text-center">Software Developer</h1>
		<p class="p-4">
			<div class="text-center">
				I build software to solve problems. With over 10 years of
				experience.
			</div><div class="text-center">
				I focus on creating solutions that are functional and simple to
				use.
			</div>
		</p>
	</div>
</Layout>
