---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="columns-2 py-4 px-12">
        <aside class="position-sticky">
            <h1>Matthew Findlater</h1>
            <p class="flex-auto">
                I am a software developer with over 10 years of experience. My
                goal is always to make software that is a joy to use.
            </p>
        </aside>
        <main>
            <h2>Projects</h2>
            <ul>
                <li>
                    <img src="https://placehold.co/600x400" alt="Project 1" />
                    <h3>Project 1</h3>
                    <p>Project 1 description</p>
                </li>
            </ul>
        </main>
    </div>

    <div class="project mt-4 p-4 bg-alabaster-500 text-onyx-100 rounded-xl">
        <img
            class="mx-auto"
            src="https://placehold.co/800x480"
            alt="Project 1"
        />
        <h3 class="mt-4 text-xl">Treasury Dashboard</h3>
        <p>
            An internal web app for tracking a church's income, expenses and
            donations. It supports reporting, importing transactions from third
            party sources (ie. PayPal, CashApp), Emailing donors tax summaries,
            and more.
        </p>
        <p>
            <strong>Technologies:</strong> .NET, SQLite, SendGrid, HTMX, Tailwind
            CSS
        </p>
    </div>
    <div class="project mt-4 p-4 bg-alabaster-500 text-onyx-100 rounded-xl">
        <img
            class="mx-auto"
            src="https://placehold.co/800x480"
            alt="Project 1"
        />
        <h3 class="mt-4 text-xl">Twitch Chatbot</h3>
        <p>
            A custom stream chatbot for a streamer with over 300k followers. Bot
            automates chat predictions and adds a visual slot machine game that
            can be played by viewers. Connects with twitch and StreamElements
            API.
        </p>
        <p><strong>Technologies:</strong> .NET, SQLite, S3, HTMX</p>
    </div>
    <div class="project mt-4 p-4 bg-alabaster-500 text-onyx-100 rounded-xl">
        <img
            class="mx-auto"
            src="https://placehold.co/800x480"
            alt="Project 1"
        />
        <h3 class="mt-4 text-xl">vgchan</h3>
        <p>
            A custom video game imageboard with admin features. Annoymous posts,
            automatic processing of image uploads (optimizing and resizing).
        </p>
        <p>
            <strong>Technologies:</strong> .NET, PostgreSQL, S3, SendGrid, React
        </p>
    </div>
</Layout>
