<footer class="text-center py-8 dark:text-alabaster-500">
  <ul class="text-sm flex justify-center gap-4 mb-4">
    <li><a href="mailto:mfindlater@justattack.com">Email</a></li>
    <li><a href="https://github.com/mfindlater">GitHub</a></li>
    <li>
      <a href="https://www.linkedin.com/in/matthewfindlater/">LinkedIn</a>
    </li>
  </ul>

  <p>Copyright © 2026 Matthew Findlater</p>
</footer>
